* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

body {
    display: flex;
}

/* Section-sidebar */
.sidebar-conteiner {
    background: #FBF9F8;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
}

#logo {
    margin: 1.625rem 1.6875rem 5.3125rem 1.6875rem;
}

.main-menu {
    margin: 0px 1.25rem 17px 1.25rem;
    list-style: none;
}

li {
    margin-bottom: 18px;
}

nav {
    margin-bottom: 16.5rem;
}

a {
    display: flex;
    text-decoration: none;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    gap: 14px;
    padding: 0.5625rem 10.4375rem 0.625rem 1.6875rem;
}

.focus {
    opacity: 1;
}

a:focus,
span:focus {
    background-color: #F2EEEA;
    color: orange;
}

a:active,
span:active {
    background-color: #F2EEEA;
    color: orange;
}

#chat {
    opacity: 0.4;
}

.profile-conteiner {
    background: #F9F2EF;
}

.profile-conteiner p {
    padding: 1.875rem 11.125rem 1rem 1.875rem;
}

.profile-wrapper {
    display: flex;
    gap: 12px;
    margin: 0px 2.125rem 1.5rem 1.875rem;
}

.profile-conteiner button {
    width: 210px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin: 0px 1.25rem 14.25rem 1.25rem;
    font-family: 'Inter', sans-serif;
}

.description {
    color: #000;
    font-size: 14px;
    opacity: 0.7;
}

.descriptionspec {
    color: #FF9C00;
    font-size: 14px;
    font-weight: 600;
}

.speciala {
    background: #F2EEEA;
}

.profile-conteiner p {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
}

.profile-conteiner h3 {
    width: 129px;
    color: #000;
    font-size: 14px;
}

.profile-conteiner .status {
    color: #FF9C00;
    font-size: 12px;
    margin-top: 4px;
}

.profile-button {
    padding: 0.8125rem 6.1875rem 0.75rem 1.6875rem;
}

.profile-conteiner .profile-button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-conteiner .profile-button .log-botton-text {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    padding: 0;
    opacity: 1;
}

/* Section-content */

.grid-table-header-text-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 38px 48px 51px 23px;
}

.grid-table-header h4 {
    font-size: 24px;
}

.grid-table-header p {
    font-size: 20px;
    padding-top: 2px;
}

.main-content {
    display: grid;
    grid-template-columns: 325px 325px 440px;
    grid-template-rows: 100px 100px 7px 163px;
    margin: 0px 45px 0px 23px;
    gap: 20px 24px;
}

.block1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.block2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.block3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.block4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.block5 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.block6 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.block7 {
    grid-column: 3/3;
    grid-row: 1/5;
}

.line {
    border-top: 1px solid #E3E3E3;
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 1px 0px 1px 0px;
}

.order-status {
    border-radius: 9px;
    background: #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
}

#img-price {
    width: 40px;
    height: 40px;
    margin: 26px 18px 31px 50px;
}

.order-title {
    margin: 15px 0px 15px 20px;
}

#price {
    margin-bottom: 9px;
    color: #FF9C00;
    font-size: 36px;
}

#order-details {
    color: #FF9C00;
    font-size: 14px;
}

.order-action {
    display: flex;
    border-radius: 9px;
    background: #FFE3B7;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

#action-img {
    width: 40px;
    height: 40px;
    margin: 103px 18px 20px 265px;
    position: absolute;
}

#product-upgrade {
    font-size: 20px;
    margin-bottom: 10px;
}

#produc-upgrade-second {
    color: #6D6D6D;
    font-size: 14px;
    font-weight: 400;
}

.action-wrapper {
    margin: 20px 25px 73px 18px;
}

.stock-wrapper {
    display: flex;
    gap: 10px;
    margin: 2px 0px 10px 19px;
}

.order-stock {
    border-radius: 9px;
    background: #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

#stock-description {
    color: #000;
    font-size: 20px;
    margin: 15px 265px 20px 20px;
}

.stock-wrapper p {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#circle {
    position: absolute;
    margin: -100px 18px 0px 208px;
}

.low-stock-wrapper {
    display: flex;
    gap: 181px;
}

#low-stock-tag {
    margin: 0px 220px 15px 0px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

hr {
    margin: 8px 24px 3px 0px;
}

.scroll-container {

    height: 200px;
    overflow-y: scroll;
    margin: 115px 10px 5px 20px;
}

.scroll-content {
    width: 100%;
    height: 200px;
}

.scroll-container::-webkit-scrollbar {
    width: 10px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


#remaining {
    color: #DD3A3A;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

#product-name {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

@media (min-width:150px) and (max-width:399px) {
    .main-content {
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 100px 100px 1px 163px;
    }

    .block7 {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .grid-table-header-text-wrapper {
        display: flex;
        flex-direction: column;
    }
}


@media (min-width:400px) and (max-width:800px) {
    .main-content {
        grid-template-columns: 350px 350px 350px;
        grid-template-rows: 100px 100px 1px 163px;
    }

    .block7 {
        grid-column: 1/3;
        grid-row: 5/32;
    }

    .grid-table-header-text-wrapper {
        display: flex;
        flex-direction: column;
    }
}



@media (min-width:801px) and (max-width:1199px) {
    .main-content {
        grid-template-columns: 350px 350px 1fr;
        grid-template-rows: 100px 100px 1px 163px;
    }

    .block7 {
        grid-column: 1/3;
        grid-row: 5/33;
    }

    .grid-table-header-text-wrapper {
        display: flex;
        flex-direction: column;
    }
}