* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

/* navigatio-sidebar */
.sidebar-conteiner {
    width: 254px;
    height: 1024px;
    background: #FBF9F8;
}

#logo {
    margin: 1.625rem 1.6875rem 5.3125rem 1.6875rem;
    width: 196px;
    height: 48px;
}

.main-menu {
    margin: 0px 1.25rem 17px 1.25rem;
    list-style: none; 
}

li {
    margin-bottom:18px;
}
nav {
    margin-bottom: 16.5rem;
}

a {
    display: flex;
    text-decoration: none;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    /* background: #F2EEEA; */
    align-items: center;
    gap: 14px;
    padding: 0.5625rem 10.4375rem 0.625rem 1.6875rem;
    color: black;
}

.focus {
    opacity: 1;
}

a:focus,
span:focus {
    background-color: #F2EEEA;
    color: orange;
   
}

a:active,
span:active {
    background-color: #F2EEEA;
    color: orange;
}

#chat {
    opacity: 0.4;
}

.profile-conteiner {
    width: 250px;
    height: 400px;
    background: #F9F2EF;
}

.profile-conteiner p {
    padding: 1.875rem 11.125rem 1rem 1.875rem;
}

.profile-wrapper {
    display: flex;
    gap: 12px;
    margin: 0px 2.125rem 1.5rem 1.875rem;
}

.profile-conteiner button {
    width: 210px;
    height: 45px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    margin: 0px 1.25rem 14.25rem 1.25rem;
    font-family: 'Inter', sans-serif;
}

.description {
    color: #000;
    font-size: 14px;
    opacity: 0.7;
}

.descriptionspec {
    color: #FF9C00;
    font-size: 14px;
    font-weight: 600;
}

.speciala {
    background: #F2EEEA;
}


.profile-conteiner p {
    color: #000;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
}

.profile-conteiner h3 {
    width: 129px;
    color: #000;
    font-size: 14px;
}

.profile-conteiner .status {
    color: #FF9C00;
    font-size: 12px;
    margin-top: 4px;
}

.profilebtn {
    padding: 0.8125rem 6.1875rem 0.75rem 1.6875rem;
}

.profile-conteiner .profilebtn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile-conteiner .profilebtn .logbtntext {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    padding: 0;
    opacity: 1;
}


/* main body */
.grid-conteiner {
    display: grid;
    grid-template-columns: 250px 325px 325px 425px;
    grid-template-rows: 120px 100px 100px 163px;
    gap:15px;
}

.header-container {
grid-column: 2/ span3;
}

.order-status-container {
background-color: red;
width: 325px;
height: 100px;
display: flex;
}

.child1 {
    grid-column: 2/3;
    grid-row:2/3;
}

.child2 {
    grid-column: 2/3;
    grid-row:3/4;
}

.child3 {
    grid-column: 3/4;
    grid-row:2/3;
}

.child4 {
    grid-column: 3/4;
    grid-row:3/4;
}
.order-action-container {
background-color: blue;
}

.child5 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.child6 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.child7{
    grid-column: 4/5;
    grid-row: 2/5;
}

.order-statistic-container {
background-color: orangered;
}

.header-container {
    width: 1138px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2.4375rem 1px 3.1875rem 1.4375rem;
}

.order-status-container img {
    width: 40px;
    height: 40px;
}

.order-status-text-wrapper {
    padding: 5px 6px 7px 8px;
}


@media (min-width:800px) and (max-width:1200px) {
    .grid-conteiner {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 120px repeat(4,1fr);
    }
    .header-container{
        grid-column: 2/span2;
    }
    .chil7{
        grid-column: 2/4;
        grid-row: 5/6;
    }
}

@media (min-width:400px) and (max-width:800px) {
    .grid-conteiner{}
    .header-container {}
    .child7{}
}